@use "src/styles/_colors.scss";

.box {
  background-color: colors.$bg-primary;
  color: colors.$primary;
  border-color: colors.$primary;
  border-width: .175rem;
  border-style: solid;
  border-radius: .75rem;
  padding: 4rem;

  &:hover, &[data-drop-active=true]{
    cursor: pointer;
    filter: brightness(105%);
  }
}